<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyAon8PKwPs6bAWOVoNj_BM6o_gCVUUtkpE</string>
	<key>GCM_SENDER_ID</key>
	<string>477954212662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>illinois.SpiceTracker2</string>
	<key>PROJECT_ID</key>
	<string>dryingredientkitchentracker</string>
	<key>STORAGE_BUCKET</key>
	<string>dryingredientkitchentracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:477954212662:ios:72a5919d1e2ff3507f6997</string>
	<key>DATABASE_URL</key>
	<string>https://dryingredientkitchentracker-default-rtdb.firebaseio.com</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>magnetometer</string>
		<string>location-services</string>
		<string>gps</string>
	</array>
</dict>
</plist>
